.reactWork{
    padding: 20px;
    margin: 50px;
    text-align: center;
    border: 2px solid #c69aee;
    border-radius: 8px;
}
@media screen and (max-with:600px) {
    .reactWork{
        display: grid;
        grid-template-columns:(1fr);
        grid-gap:10px;
        margin: 5px;
    }
    
}