.product{
    border: 3px solid rgb(214, 186, 240);
    border-radius: 8px;
    padding: 5px;
    background-color: #ece8e8;
}
.product img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin: auto;
}
.product button{
    padding: 8px 10px;
    border-radius: 8px;
}
.product button:hover{
    background-color: #f8e5cc;
}
