.product{
    border: 3px solid blueviolet;
    border-radius: 8px;
    padding: 5px;
    background-color: #CAD5E2;
}
.product img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}
.product button{
    padding: 8px 10px;
    border-radius: 8px;
}
.product button:hover{
    background-color: cyan;
}